<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-title>
      Collection...
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="displayFormSuccess" class="successBanner">Set Successfully Submitted<span class="closeButton" (click)="closeBanner()">X</span></div>

  <div class="container find-set-form-container" *ngIf="!findSetFormClicked">
    <div id="circle">x</div>
    <h4 class="center-text">Find Set Form</h4>
    <div class="instruction-box">
      <div class="instruction-header">Enter Set Number...</div>
      <form [formGroup]="findSetForm" class="container">
        <div class="row">
          <div class="form-group col-lg-12">
            <input type="text"
                  class="form-control"
                  formControlName="findSetFormNumber"
                  id="findSetFormNumber">
          </div>
        </div>
        <div class="row px-3">
          <button type="submit" class="btn btn-success btn-block" (click)="findSetByNumber()">Find Set by Number</button>
        </div>
      </form>
    </div>
    <div class="instruction-box">
      <div class="instruction-header">Or Scan Barcode...</div>
      <div class="row px-5 mb-20">
        <button class="btn btn-success btn-block" (click)="scanButton()" type="submit">Find Set by Barcode</button>
      </div>
    </div>
  </div>
  
    <div class="container" *ngIf="findSetFormClicked">
    <form [formGroup]="setForm" class="container">
      <div class="row">
        <div class="form-group col-lg-12">
          <label for="setName">Set Name</label>
          <input type="text"
                class="form-control"
                formControlName="setName"
                id="setName" required>
        </div>

        <div class="form-group col-lg-12">
          <label for="setNumber">Set Number</label>
          <input type="text"
                class="form-control"
                formControlName="setNumber"
                id="setNumber" required>
        </div>
      </div>

      <div class="row">
          <div class="form-group col-lg-12">
          <label for="setPieces">Number of Pieces</label>
          <input type="number"
                class="form-control"
                formControlName="setPieces"
                id="setPieces">
        </div>

        <div class="form-group col-lg-12">
          <label for="setYear">Year</label>
          <input type="text"
                class="form-control"
                formControlName="setYear"
                id="setYear">
        </div>
      </div>

      <div class="row mb-20">
          <div class="form-group col-lg-12">
          <label for="setTheme">Theme</label>
          <input type="text"
                class="form-control"
                formControlName="setTheme"
                id="setTheme">
        </div>

        <div class="form-group col-lg-12">
          <label for="setLocation">Storage Location</label>
            <select class="form-control" id="setLocation" formControlName="setLocation" required>
                <option value="Display">Display</option>
                <option value="Shelf A">Shelf A</option>
                <option value="Shelf B">Shelf B</option>
                <option value="Shelf C">Shelf C</option>
                <option value="Shelf D">Shelf D</option>
                <option value="Shelf E">Shelf E</option>
                <option value="Shelf F">Shelf F</option>
                <option value="Bin A">Bin A</option>
                <option value="Bin B">Bin B</option>
                <option value="Bin C">Bin C</option>
                <option value="Bin D">Bin D</option>
                <option value="Bin E">Bin E</option>
                <option value="Bin F">Bin F</option>
                <option value="Bin G">Bin G</option>
                <option value="Bin H">Bin H</option>
                <option value="Bin I">Bin I</option>
                <option value="Bin J">Bin J</option>
            </select>
        </div>

        <!-- <div class="form-group col-sm-12 col-md-6">
          <label for="barcodeValue">Barcode Value</label>
          <input type="text"
                class="form-control"
                formControlName="barcodeValue"
                id="barcodeValue">
        </div> -->
      </div>
      <div class="row px-3">
        <button type="submit" class="btn btn-success btn-block" (click)="addSet()">Add Set To Collection</button>
      </div>
    </form>
    <div>
  </div>
  </div>
</ion-content>